:root {
    font-size: 16px;
}

[hidden] {
    display: none !important;
}

@keyframes appear {
    from {
        max-height: 0;
        opacity: 0;
    }
    to {
        max-height: 10rem;
        opacity: 100%;
    }
}

body {
    background-color: gray;
    display: flex;
    flex-direction: row;
}

#cake {
    border-right-color: darkgray;
    border-right-width: 0.15rem;
    border-right-style: solid;

    flex: 2;
}

.options-con {
    display: flex;
    flex-direction: column;

    margin: 1.5rem;

    flex: 1;
}

.option-add {
    align-self: center;
    width: 20rem;
    margin: 0.5rem;
}

.option {
    display: flex;
    flex-direction: row;

    overflow-y: hidden;

    border-width: 0.2rem;
    border-radius: 0.1rem;
    border-color: darkgray;
    border-style: solid;

    padding: 0.5rem;
    margin-bottom: 0.7rem;

    max-height: 10rem; /* Important for shrinking animation on deletion */

    animation-name: appear;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;

    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.option-title {
    flex: 4;

    margin-right: 4rem;
}

.option-value {
    flex: 1;

    margin-right: 2rem;
}

.option-delete {
    flex: 1
}